<!DOCTYPE html>
<html>
  <head>
    <title>Car Dealer</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Add a Car to the Dealership Database</h1>
    <a href="/cars/new">Add a new Car</a><br>
    <a href="/cars"> </a><br>
  </body>
</html>
